<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<trace autoflush="true"/>
		<sources>
			<source name="proxyLog">
				<listeners>
					<add name="Trace.Log"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="Trace.Log" 
				 type="System.Diagnostics.TextWriterTraceListener" 
				 initializeData="Proxy.log.txt" />
		</sharedListeners>
		<switches>
			<!-- Values are Error, Warning, Information, and Verbose. Increasing verbosity will negatively affect performance. -->
			<add name="proxyLog" value="Error" />
		</switches>
	</system.diagnostics>

</configuration>