<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<trace autoflush="true"/>
		<sources>
			<source name="proxyLog">
				<listeners>
					<add name="Trace.Log"/>
				</listeners>
			</source>
			<source name="webLog">
				<listeners>
					<add name="Trace.Log"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<!--<add name="Trace.Log" 
				 type="Gallatin.Core.Util.DelayedWriter,Gallatin.Core" 
				 initializeData="Proxy.log.txt" />-->
			<add name="Trace.Log" type="System.Diagnostics.TextWriterTraceListener" initializeData="Proxy.log.txt" ></add>
		</sharedListeners>
		<switches>
			 <!--Values are Error, Warning, Information, and Verbose. Increasing verbosity will negatively affect performance.--> 
			<add name="proxyLog" value="Error" />
			<add name="webLog" value="Error" />
		</switches>
	</system.diagnostics>

</configuration>